body {  
  background: linear-gradient(to right, #ff4d00, #ffa500);
  font-family: 'Roboto', Inter, sans-serif;
  text-align: center;
  margin: 0;
}  

h1 {
  padding-top: 100px;
  color: #ffffff;
  font-size: 50px;
}

p {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}

html {
  -webkit-text-size-adjust: none;
}

button {
  background-color: black;
  border: 2px solid orange;
  color: white;
  padding: 10px;
  margin: 10px;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
  width: 925px;
  height: 50px;
}

button:hover {
  background-color: orange;
  color: black;
}
