body {
  background: linear-gradient(to right, #ff4d00, #ffa500); /* gradient orange/red */
  font-family: 'Roboto', Inter, sans-serif; /* default font for all text */
  text-align: center; /* center all text */
  margin: 0;
}

h1 {
  padding-top: 100px; /* top spacing */
  color: #ffffff;
  font-size: 50px;
}

h2 {
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}

html {
  -webkit-text-size-adjust: none;
}
