body {  
  background: #000000;
  font-family: 'Roboto', Inter, sans-serif;
  text-align: center;
  margin: 0;
}  

h1 {
  padding-top: 100px;
  color: #ffffff;
  font-size: 50px;
}

h2 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}

html {
  -webkit-text-size-adjust: none;
}
